/* ==========================================
   ExpenseTrackify
   Global Style Sheet
   Version : 1.0
========================================== */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Root Variables */

:root{

    --primary:#14E4B5;
    --secondary:#1E1B4B;

    --background:#0B1023;

    --card:#171C36;

    --text:#FFFFFF;

    --text-light:#A5B4C7;

    --danger:#FF4D6D;

    --success:#22C55E;

    --warning:#F59E0B;

    --radius:20px;

}

/* Body */

body{

    font-family:'Poppins',sans-serif;

    background:var(--background);

    color:var(--text);

    min-height:100vh;

    overflow: auto;

}

/* Images */

img{

    max-width:100%;

    display:block;

}

/* Links */

a{

    text-decoration:none;

    color:inherit;

}

/* Buttons */

button{

    font-family:'Poppins',sans-serif;

    border:none;

    outline:none;

    cursor:pointer;

}

/* Input */

input,
select,
textarea{

    font-family:'Poppins',sans-serif;

    outline:none;

    border:none;

}
select{

    appearance:auto;

    -webkit-appearance:auto;

    cursor:pointer;

}
/* List */

ul{

    list-style:none;

}

/* ==========================
   Toast
========================== */

.toast{

    position:fixed;

    left:50%;

    bottom:25px;

    transform:translateX(-50%);

    background:#22C55E;

    color:#fff;

    padding:12px 20px;

    border-radius:12px;

    font-size:15px;

    font-weight:600;

    z-index:99999;

    opacity:0;

    transition:.3s;

    pointer-events:none;

}

.toast.show{

    opacity:1;

}

/* ==========================================
   Toast
========================================== */

.toast{

    position: fixed;

    left: 50%;

    bottom: 25px;

    transform: translateX(-50%) translateY(100px);

    background: #22C55E;

    color: #fff;

    padding: 14px 22px;

    border-radius: 14px;

    font-size: 15px;

    font-weight: 600;

    box-shadow: 0 8px 20px rgba(0,0,0,.35);

    z-index: 99999;

    opacity: 0;

    transition: all .35s ease;

    pointer-events: none;

}

.toast.show{

    opacity: 1;

    transform: translateX(-50%) translateY(0);

}